
<section class="home-downloads section">
    <div class="downloads-main-client w-container">
      <div class="region region-downloads">
        <section class="views-element-container block block-views block-views-blockdownloads-block clearfix"
          id="block-views-block-downloads-block">
  
          <h2 class="block-title align-center heading-purple">오늘 시작하기</h2>
  
  
          <div class="form-group">
            <div
              class="view view-downloads view-id-downloads view-display-id-block js-view-dom-id-271e45806ffab1d685329c91b599324ec9c84dce0bd799f1faeab63caf33fbde w-container"
              id="downloads">
  
  
  
              <div class="view-content downloads-wrap">
                <p>빌트인 지갑, 분산화 마켓플레이스 그리고</p>
                <div class="downloads-icon-group-wrap">
                  <div class="download-logo-wrap w-inline-block views-row">
                    <div class="views-field views-field-field-version">
                      <div class="field-content"><a
                          href="https://bithalo.github.io/bithalo/downloads/BitBayWin.html">
                          <img
                            src="/sites/default/files/styles/download_83xx/public/2018-03/icon-download-win.png"
                            width="83" height="83" alt="" typeof="Image" class="img-responsive" />
  
  
  
                          <div class="download-icon-text">
                            Client |&nbsp;
                            <span class="download-version-number">1.38</span></div>
                        </a></div>
                    </div>
                  </div>
                  <div class="download-logo-wrap w-inline-block views-row">
                    <div class="views-field views-field-field-version">
                      <div class="field-content"><a
                          href="https://bithalo.github.io/bithalo/downloads/BitBayMac.html">
                          <img
                            src="/sites/default/files/styles/download_83xx/public/2018-03/icon-download-mac.png"
                            width="83" height="101" alt="" typeof="Image" class="img-responsive" />
  
  
  
                          <div class="download-icon-text">
                            Client |&nbsp;
                            <span class="download-version-number">1.38</span></div>
                        </a></div>
                    </div>
                  </div>
                  <div class="download-logo-wrap w-inline-block views-row">
                    <div class="views-field views-field-field-version">
                      <div class="field-content"><a
                          href="https://bithalo.github.io/bithalo/downloads/BitBayLinux.html">
                          <img
                            src="/sites/default/files/styles/download_83xx/public/2018-03/icon-download-linux.png"
                            width="83" height="97" alt="" typeof="Image" class="img-responsive" />
  
  
  
                          <div class="download-icon-text">
                            Client |&nbsp;
                            <span class="download-version-number">1.38</span></div>
                        </a></div>
                    </div>
                  </div>
                </div>
  
              </div>
  
              <div class="view-footer">
                <p><a class="text-link" href="/ko/downloads" id="all-link-downloads">모든 다운로드 보기</a></p>
  
              </div>
            </div>
          </div>
  
        </section>
  
  
      </div>
  
    </div>
  </section>
  