<section class="home-downloads section">
    <div class="downloads-main-client w-container">
      <div class="region region-downloads">
        <section class="views-element-container block block-views block-views-blockdownloads-block clearfix"
          id="block-views-block-downloads-block">
  
          <h2 class="block-title align-center heading-purple">Comencemos hoy</h2>
  
  
          <div class="form-group">
            <div
              class="view view-downloads view-id-downloads view-display-id-block js-view-dom-id-583e03559ad35b0017c34d36bfc2111a074fb2eff311ba538811a909b502c234 w-container"
              id="downloads">
  
  
  
              <div class="view-content downloads-wrap">
                <p>Con un monedero incorporado, mercados descentralizados y algunas de las más avanzadas de seguridad en
                  cifrado, recomendamos que BitBay Client envíe, almacene y apueste su $Bay.</p>
                <div class="downloads-icon-group-wrap">
                  <div class="download-logo-wrap w-inline-block views-row">
                    <div class="views-field views-field-field-version">
                      <div class="field-content"><a
                          href="https://bithalo.github.io/bithalo/downloads/BitBayWin.html">
                          <img
                            src="/sites/default/files/styles/download_83xx/public/2018-03/icon-download-win.png"
                            width="83" height="83" alt="" typeof="Image" class="img-responsive" />
  
  
  
                          <div class="download-icon-text">
                            Client |&nbsp;
                            <span class="download-version-number">1.37b</span></div>
                        </a></div>
                    </div>
                  </div>
                  <div class="download-logo-wrap w-inline-block views-row">
                    <div class="views-field views-field-field-version">
                      <div class="field-content"><a
                          href="https://bithalo.github.io/bithalo/downloads/BitBayMac.html">
                          <img
                            src="/sites/default/files/styles/download_83xx/public/2018-03/icon-download-mac.png"
                            width="83" height="101" alt="" typeof="Image" class="img-responsive" />
  
  
  
                          <div class="download-icon-text">
                            Client |&nbsp;
                            <span class="download-version-number">1.37</span></div>
                        </a></div>
                    </div>
                  </div>
                  <div class="download-logo-wrap w-inline-block views-row">
                    <div class="views-field views-field-field-version">
                      <div class="field-content"><a
                          href="https://bithalo.github.io/bithalo/downloads/BitBayLinux.html">
                          <img
                            src="/sites/default/files/styles/download_83xx/public/2018-03/icon-download-linux.png"
                            width="83" height="97" alt="" typeof="Image" class="img-responsive" />
  
  
  
                          <div class="download-icon-text">
                            Client |&nbsp;
                            <span class="download-version-number">1.37b</span></div>
                        </a></div>
                    </div>
                  </div>
                </div>
  
              </div>
  
              <div class="view-footer">
                <p><a class="text-link" href="/es/downloads" id="all-link-downloads">Ver todas las descargas</a></p>
  
              </div>
            </div>
          </div>
  
        </section>
  
  
      </div>
  
    </div>
  </section>
  