<section class="exchanges section">
    <div class="w-container">
        <div class="region region-exchanges">
            <section class="views-element-container block block-views block-views-blockexchanges-block clearfix"
                id="block-views-block-exchanges-block">

                <h2 class="block-title align-center heading-yellow">Get some $BAY</h2>


                <div class="form-group">
                    <div
                        class="view view-exchanges view-id-exchanges view-display-id-block js-view-dom-id-3a87b8367b4c08b33756dd9e99647bed9b2380b08b4c78331c8ef38d7c68ba8f">


                        <div class="view-header">
                            <p class="align-center narrow-text">You can buy Bay at these exchanges</p>
                        </div>

                        <div class="view-content">
                            <div class="flex-3-cols">
                                <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
                                    <div>
                                        <span class="exchange-logo">
                                            <a href="https://go.latoken.com/c5" class="exchange-link dt80" target="_blank">
                                                <img src="/images/latoken.svg" alt="" typeof="Image" class="img-responsive" />
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
                                    <div>
                                        <span class="exchange-logo">
                                            <a href="https://blocknet.co/" class="exchange-link dt80" target="_blank">
                                                <img src="/images/block-dx.png" alt="" typeof="Image" class="img-responsive" />
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>


        </div>

    </div>
</section>