<section class="exchanges section">
    <div class="w-container">
        <div class="region region-exchanges">
            <section class="views-element-container block block-views block-views-blockexchanges-block clearfix"
                id="block-views-block-exchanges-block">

                <h2 class="block-title align-center heading-yellow">获取一些$BAY</h2>


                <div class="form-group">
                    <div
                        class="view view-exchanges view-id-exchanges view-display-id-block js-view-dom-id-3a87b8367b4c08b33756dd9e99647bed9b2380b08b4c78331c8ef38d7c68ba8f">


                        <div class="view-header">
                            <p class="align-center narrow-text">您可以在这些交易所购买Bay</p>
                        </div>

                        <div class="view-content">
                            <div class="flex-3-cols">
                                <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
                                    <div><span class="exchange-logo"><a
                                                href="https://international.bittrex.com/Market/Index?MarketName=BTC-BAY"
                                                class="exchange-link dt80" target="_blank"> <img
                                                    src="/sites/default/files/2019-04/logo-bittrex.png" width="400"
                                                    height="82" alt="" typeof="Image" class="img-responsive" />

                                            </a></span></div>
                                </div>
                                <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
                                    <div><span class="exchange-logo"><a
                                                href="https://upbit.com/exchange?code=CRIX.UPBIT.BTC-BAY"
                                                class="exchange-link dt80" target="_blank"> <img
                                                    src="/sites/default/files/2019-04/logo-upbit.png" width="358"
                                                    height="82" alt="" typeof="Image" class="img-responsive" />

                                            </a></span></div>
                                </div>
<!--
                                <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
                                    <div><span class="exchange-logo"><a
                                                href="https://www.cryptopia.co.nz/Exchange/?market=BAY_BTC"
                                                class="exchange-link dt80" target="_blank"> <img
                                                    src="/sites/default/files/2019-04/logo-cryptopia.png" width="354"
                                                    height="41" alt="" typeof="Image" class="img-responsive" />

                                            </a></span></div>
                                </div>
-->
                                <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
                                    <div><span class="exchange-logo"><a href="https://www.litebit.eu/en/buy/bitbay"
                                                class="exchange-link dt80" target="_blank"> <img
                                                    src="/sites/default/files/2019-04/logo-litebit.png" width="400"
                                                    height="83" alt="" typeof="Image" class="img-responsive" />

                                            </a></span></div>
                                </div>
<!--
                                <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
                                    <div><span class="exchange-logo"><a
                                                href="https://xchange.me/exchanger/exchange/BTC/BAY/"
                                                class="exchange-link dt80" target="_blank"> <img width="" height=""
                                                    src="/sites/default/files/2019-04/logo-xchange.svg" alt=""
                                                    typeof="Image" class="img-responsive" />

                                            </a></span></div>
                                </div>
-->
                                <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
                                    <div><span class="exchange-logo"><a href="https://www.bitladon.com/bitbay"
                                                class="exchange-link dt80" target="_blank"> <img
                                                    src="/sites/default/files/2018-11/bitladon-logo.png" width="1163"
                                                    height="365" alt="" typeof="Image" class="img-responsive" />

                                            </a></span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>


        </div>

    </div>
</section>
