<div class="region region-footer">
    <section
        class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockquick-links clearfix"
        id="block-system-menu-block-quick-links">

        <h4 class="block-title">RACCOURCIS</h4>



        <ul class="menu menu--quick-links nav">
            <li class="first">
                <a href="/fr" >Accueil</a>
            </li>
            <li>
                <a href="/fr/features" >Fonctionnalités</a>
            </li>
            <li>
                <a href="/fr/marche-decentralise" >BitBay
                    Marketplace</a>
            </li>
            <li>
                <a href="/fr/the-team" >L&#039;équipe</a>
            </li>
            <li>
                <a href="/fr/roadmap" >Roadmap</a>
            </li>
            <li class="active active-trail last">
                <a href="/fr/downloads" class="active-trail is-active"
                    >Téléchargements</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blocksupport clearfix"
        id="block-system-menu-block-support">

        <h4 class="block-title">Support</h4>



        <ul class="menu menu--support nav">
            <li class="first">
                <a href="/fr/https://www.youtube.com/watch?v=CIU4s2G8jU8&amp;list=PL4MGGKJn4DizGw7oBXwzETMVLNCZ6G2_t">Vidéos
                    Tutoriels</a>
            </li>
            <li>
                <a href="https://forum.bitbay.market">Communauté</a>
            </li>
            <li class="last">
                <a href="/blog" target="_self">Blog</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-3 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockuseful-links clearfix"
        id="block-system-menu-block-useful-links">

        <h4 class="block-title">LIENS UTILES</h4>



        <ul class="menu menu--useful-links nav">
            <li class="first">
                <a href="/privacy" >Privacy Police</a>
            </li>
            <li>
                <a href="/terms-of-use" >Termes
                    d&#039;utilisations</a>
            </li>
            <li>
                <a href="https://wallet.bitbay.market/" target="_blank">Web Wallet</a>
            </li>
            <li>
                <a href="/brand-resources">Branding</a>
            </li>
            <li>
                <a href="/cdn-cgi/l/email-protection.html#3142595e435f715358455350481f5c50435a5445">Contact</a>
            </li>
            <li>
                <a href="https://forum.bitbay.market/t/bitbay-in-the-news/49/2" target="_blank">Nouvelles</a>
            </li>
            <li class="last">
                <a href="/fr/sitemap" >Sitemap</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-5 w-col-medium-stack w-col-small-small-stack w-col-tiny-tiny-stack block block-mailchimp-signup block-mailchimp-signup-subscribe-blocknewsletter clearfix"
        id="block-mailchimp-signup-subscribe-block-newsletter">

        <h4 class="block-title">Newsletter</h4>


        <form class="mailchimp-signup-subscribe-form"
            data-drupal-selector="mailchimp-signup-subscribe-block-newsletter-form-2" action="downloads"
            method="post" id="mailchimp-signup-subscribe-block-newsletter-form--2" accept-charset="UTF-8">
            Inscrivez vous pour notre newsletter mensuelle et obtenez les dernières infos sur BitBay
            <div id="mailchimp-newsletter-69a98f26be-mergefields" class="mailchimp-newsletter-mergefields">
                <div
                    class="form-item js-form-item form-type-email js-form-type-email form-item-mergevars-email js-form-item-mergevars-email form-group">
                    <label for="edit-mergevars-email--2" class="control-label js-form-required form-required">Adresse de
                        courriel</label>


                    <input data-drupal-selector="edit-mergevars-email" class="form-email required form-control"
                        type="email" id="edit-mergevars-email--2" name="mergevars[EMAIL]" value="" size="25"
                        maxlength="254" required="required" aria-required="true" />



                </div>
            </div><input autocomplete="off" data-drupal-selector="form-b-siwklp0ub9vbzxttlh2z0wl-e-isv-xkhuk6hdo0"
                type="hidden" name="form_build_id" value="form-B_sIwKlP0Ub9vbzXtTlH2z0wl-e--Isv_XKHuK6HDo0" /><input
                data-drupal-selector="edit-mailchimp-signup-subscribe-block-newsletter-form-2" type="hidden"
                name="form_id" value="mailchimp_signup_subscribe_block_newsletter_form" />
            <div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper"
                id="edit-actions--3">
                <button data-drupal-selector="edit-submit" class="button js-form-submit form-submit btn-default"
                    type="submit" id="edit-submit--3" name="op" value="S&#039;inscrire">S&#039;inscrire</button>
            </div>

        </form>

    </section>


</div>
