<div class="footer-bottom w-container">
    <img width="169.5" class="footer-logo" src="/themes/bitbay/css/images/bitbay-logo-medium.png">
    <div class="region region-footer-bottom">
        <section
            class="social-icon-group block block-views block-views-blocksocial-links-block-social-icon clearfix"
            id="block-views-block-social-links-block-social-icon">



            <div class="views-element-container form-group">
                <div
                    class="view view-social-links view-id-social_links view-display-id-block_social_icon js-view-dom-id-784e671150e7b7df256904e315396c4e023fc26dd1b1abdfea11f58144a754f3">



                    <div class="view-content">
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"><a href="https://twitter.com/bitbayofficial"> <img
                                            src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-twitter-48_1.png"
                                            width="30" height="30" alt="" typeof="foaf:Image"
                                            class="img-responsive" />


                                    </a></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"><a href="https://www.facebook.com/bitbaymarket"> <img
                                            src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-facebook-480_0.png"
                                            width="30" height="30" alt="" typeof="foaf:Image"
                                            class="img-responsive" />


                                    </a></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"><a href="https://discord.gg/jRkjCxf"> <img
                                            src="/sites/default/files/styles/social_icon_30xx/public/2019-02/PNG&#32;image.png"
                                            width="30" height="29" alt="" typeof="foaf:Image"
                                            class="img-responsive" />


                                    </a></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"><a href="https://t.me/bitbayofficial"> <img
                                            src="/sites/default/files/styles/social_icon_30xx/public/2019-02/iconfinder_social-07_3146784.png"
                                            width="30" height="30" alt="" typeof="foaf:Image"
                                            class="img-responsive" />


                                    </a></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"><a
                                        href="https://bitcointalk.org/index.php?topic=890531"> <img
                                            src="/sites/default/files/styles/social_icon_30xx/public/2018-05/logo_bct.png"
                                            width="30" height="30" alt="" typeof="foaf:Image"
                                            class="img-responsive" />


                                    </a></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"><a href="https://www.reddit.com/r/BitBay/"> <img
                                            src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-reddit-48_0.png"
                                            width="30" height="30" alt="" typeof="foaf:Image"
                                            class="img-responsive" />


                                    </a></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"><a href="https://www.youtube.com/c/BitBayMarket">
                                        <img src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-play-button-48.png"
                                            width="30" height="30" alt="" typeof="foaf:Image"
                                            class="img-responsive" />


                                    </a></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"></div>
                            </div>
                        </div>
                        <div class="views-row">
                            <div class="views-field views-field-field-image">
                                <div class="field-content"><a href="https://medium.com/bitbay-blog"> <img
                                            src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-medium-48.png"
                                            width="30" height="30" alt="" typeof="foaf:Image"
                                            class="img-responsive" />


                                    </a></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </section>

        <section
            class="block block-block-content block-block-contentf06ff856-6ce2-4502-8924-a5d1ddf596ea clearfix"
            id="block-block-content-f06ff856-6ce2-4502-8924-a5d1ddf596ea">




            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                <div class="copyright-text">©Copyright 2019&nbsp;BitBay. All Rights Reserved.</div>
            </div>

        </section>


    </div>

</div>