<footer class="footer section container-fluid" role="contentinfo">
    <div class="w-container">
<div class="w-row">
<div class="region region-footer">
<section class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockquick-links clearfix" id="block-system-menu-block-quick-links">

<h4 class="block-title">Quick links</h4>



<ul class="menu menu--quick-links nav">
    <li class="first">
                      <a href="dynamic-peg.html" data-drupal-link-system-path="&lt;front&gt;" class="is-active">Home</a>
</li>
    <li>
                      <a href="features.html" data-drupal-link-system-path="features">Features</a>
</li>
    <li>
                      <a href="decentralized-marketplace.html" data-drupal-link-system-path="node/99">BitBay Marketplace</a>
</li>
    <li>
                      <a href="the-team.html" data-drupal-link-system-path="the-team">The Team</a>
</li>
    <li>
                      <a href="roadmap.html" data-drupal-link-system-path="node/40">Roadmap</a>
</li>
    <li class="last">
                      <a href="Download.html" data-drupal-link-system-path="downloads">Downloads</a>
</li>
</ul>


</section>

<section class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blocksupport clearfix" id="block-system-menu-block-support">

<h4 class="block-title">Support</h4>



<ul class="menu menu--support nav">
    <li class="first">
                      <a href="https://www.youtube.com/watch?v=CIU4s2G8jU8&amp;list=PL4MGGKJn4DizGw7oBXwzETMVLNCZ6G2_t">Tutorial Videos</a>
</li>
    <li>
                      <a href="https://forum.bitbay.market">Community</a>
</li>
    <li class="last">
                      <a href="blog.html" target="_self">Blog</a>
</li>
</ul>


</section>

<section class="footer-column w-col w-col-3 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockuseful-links clearfix" id="block-system-menu-block-useful-links">

<h4 class="block-title">Useful links</h4>



<ul class="menu menu--useful-links nav">
    <li class="first">
                      <a href="privacy.html" data-drupal-link-system-path="node/13">Privacy Policy</a>
</li>
    <li>
                      <a href="pl/node/14.html" data-drupal-link-system-path="node/14">Terms of Use</a>
</li>
    <li>
                      <a href="https://wallet.bitbay.market/" target="_blank">Web Wallet</a>
</li>
    <li>
                      <a href="brand-resources.html">Branding</a>
</li>
    <li>
                      <a href="cdn-cgi/l/email-protection.html#22514a4d504c62404b5640435b0c4f4350494756">Contact</a>
</li>
    <li>
                      <a href="https://forum.bitbay.market/t/bitbay-in-the-news/49/2" target="_blank">News</a>
</li>
    <li class="last">
                      <a href="sitemap.html" data-drupal-link-system-path="sitemap">Sitemap</a>
</li>
</ul>


</section>

<section class="footer-column w-col w-col-5 w-col-medium-stack w-col-small-small-stack w-col-tiny-tiny-stack block block-mailchimp-signup block-mailchimp-signup-subscribe-blocknewsletter clearfix" id="block-mailchimp-signup-subscribe-block-newsletter">

<h4 class="block-title">Newsletter</h4>


<form class="mailchimp-signup-subscribe-form" data-drupal-selector="mailchimp-signup-subscribe-block-newsletter-form-2" action="dynamic-peg.html" method="post" id="mailchimp-signup-subscribe-block-newsletter-form--2" accept-charset="UTF-8">
Sign up for our monthly newsletter to receive the latest BitBay news<div id="mailchimp-newsletter-69a98f26be-mergefields" class="mailchimp-newsletter-mergefields"><div class="form-item js-form-item form-type-email js-form-type-email form-item-mergevars-email js-form-item-mergevars-email form-group">
<label for="edit-mergevars-email--2" class="control-label js-form-required form-required">Email Address</label>


<input data-drupal-selector="edit-mergevars-email" class="form-email required form-control" type="email" id="edit-mergevars-email--2" name="mergevars[EMAIL]" value="" size="25" maxlength="254" required="required" aria-required="true" />



</div>
</div><input autocomplete="off" data-drupal-selector="form-sbforxaijaoym-dukva0nfpv7vvd9-z257eldh7sici" type="hidden" name="form_build_id" value="form-SBFORxAIjaoyM-dUKvA0nFPv7VVd9-z257eLdH7SicI" /><input data-drupal-selector="edit-mailchimp-signup-subscribe-block-newsletter-form-2" type="hidden" name="form_id" value="mailchimp_signup_subscribe_block_newsletter_form" /><div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions--2"><button data-drupal-selector="edit-submit" class="button js-form-submit form-submit btn-default" type="submit" id="edit-submit--2" name="op" value="Subscribe">Subscribe</button></div>

</form>

</section>


</div>

</div>

            <div class="footer-bottom w-container">
<img width="169.5" class="footer-logo" src="/themes/bitbay/css/images/bitbay-logo-medium.png">
<div class="region region-footer-bottom">
<section class="social-icon-group block block-views block-views-blocksocial-links-block-social-icon clearfix" id="block-views-block-social-links-block-social-icon">



<div class="views-element-container form-group"><div class="view view-social-links view-id-social_links view-display-id-block_social_icon js-view-dom-id-784e671150e7b7df256904e315396c4e023fc26dd1b1abdfea11f58144a754f3">



<div class="view-content">
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"><a href="https://twitter.com/bitbayofficial">  <img src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-twitter-48_1.png%3Fitok=tWqT-rpy" width="30" height="30" alt="" typeof="foaf:Image" class="img-responsive" />


</a></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"><a href="https://www.facebook.com/bitbaymarket">  <img src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-facebook-480_0.png%3Fitok=SlaLE7FQ" width="30" height="30" alt="" typeof="foaf:Image" class="img-responsive" />


</a></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"><a href="https://discord.gg/jRkjCxf">  <img src="/sites/default/files/styles/social_icon_30xx/public/2019-02/PNG&#32;image.png%3Fitok=7OiBK4Rk" width="30" height="29" alt="" typeof="foaf:Image" class="img-responsive" />


</a></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"><a href="https://t.me/bitbayofficial">  <img src="/sites/default/files/styles/social_icon_30xx/public/2019-02/iconfinder_social-07_3146784.png%3Fitok=-8S5fYGU" width="30" height="30" alt="" typeof="foaf:Image" class="img-responsive" />


</a></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"><a href="https://bitcointalk.org/index.php?topic=890531">  <img src="/sites/default/files/styles/social_icon_30xx/public/2018-05/logo_bct.png%3Fitok=s4IGHc92" width="30" height="30" alt="" typeof="foaf:Image" class="img-responsive" />


</a></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"><a href="https://www.reddit.com/r/BitBay/">  <img src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-reddit-48_0.png%3Fitok=asHgTSKq" width="30" height="30" alt="" typeof="foaf:Image" class="img-responsive" />


</a></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"><a href="https://www.youtube.com/c/BitBayMarket">  <img src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-play-button-48.png%3Fitok=xEDPYCZR" width="30" height="30" alt="" typeof="foaf:Image" class="img-responsive" />


</a></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"></div></div></div>
<div class="views-row"><div class="views-field views-field-field-image"><div class="field-content"><a href="https://medium.com/bitbay-blog">  <img src="/sites/default/files/styles/social_icon_30xx/public/2019-02/icons8-medium-48.png%3Fitok=ZkbczXfq" width="30" height="30" alt="" typeof="foaf:Image" class="img-responsive" />


</a></div></div></div>

</div>

</div>
</div>

</section>

<section class="block block-block-content block-block-contentf06ff856-6ce2-4502-8924-a5d1ddf596ea clearfix" id="block-block-content-f06ff856-6ce2-4502-8924-a5d1ddf596ea">




<div class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><div class="copyright-text">©Copyright 2019&nbsp;BitBay. All Rights Reserved.</div>
</div>

</section>


</div>

</div>
  </div>

</footer>

