<div class="region region-footer">
    <section
        class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockquick-links clearfix"
        id="block-system-menu-block-quick-links">

        <h4 class="block-title">クイックリンク</h4>



        <ul class="menu menu--quick-links nav">
            <li class="first">
                <a href="/ja" >ホーム</a>
            </li>
            <li>
                <a href="features" >特徴・機能</a>
            </li>
            <li>
                <a href="/ja/fensanxingmaketsutofureisu" >BitBay Marketplace</a>
            </li>
            <li>
                <a href="/ja/the-team" >チーム</a>
            </li>
            <li>
                <a href="/ja/roadmap" >ロードマップ</a>
            </li>
            <li class="active active-trail last">
                <a href="/ja/downloads" class="active-trail is-active"
                    >ダウンロード</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blocksupport clearfix"
        id="block-system-menu-block-support">

        <h4 class="block-title">サポート</h4>



        <ul class="menu menu--support nav">
            <li class="first">
                <a
                    href="https://www.youtube.com/watch?v=CIU4s2G8jU8&amp;list=PL4MGGKJn4DizGw7oBXwzETMVLNCZ6G2_t">チュートリアル動画</a>
            </li>
            <li>
                <a href="https://forum.bitbay.market">コミュニティー</a>
            </li>
            <li class="last">
                <a href="/blog" target="_self">ブログ</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-3 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockuseful-links clearfix"
        id="block-system-menu-block-useful-links">

        <h4 class="block-title">便利なリンク</h4>



        <ul class="menu menu--useful-links nav">
            <li class="first">
                <a href="/privacy" >プライバシーポリシー</a>
            </li>
            <li>
                <a href="/terms-of-use" >規約</a>
            </li>
            <li>
                <a href="https://wallet.bitbay.market/" target="_blank">ウェブウォレット</a>
            </li>
            <li>
                <a href="/brand-resources">Branding</a>
            </li>
            <li>
                <a href="/cdn-cgi/l/email-protection.html#582b30372a36183a312c3a39217635392a333d2c">Contact</a>
            </li>
            <li>
                <a href="/ja/sitemap" >サイトマップ</a>
            </li>
            <li class="last">
                <a href="https://forum.bitbay.market/t/bitbay-in-the-news/49/2" target="_blank">ニュース</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-5 w-col-medium-stack w-col-small-small-stack w-col-tiny-tiny-stack block block-mailchimp-signup block-mailchimp-signup-subscribe-blocknewsletter clearfix"
        id="block-mailchimp-signup-subscribe-block-newsletter">

        <h4 class="block-title">ニュースレター</h4>


        <form class="mailchimp-signup-subscribe-form"
            data-drupal-selector="mailchimp-signup-subscribe-block-newsletter-form-2" action="downloads"
            method="post" id="mailchimp-signup-subscribe-block-newsletter-form--2" accept-charset="UTF-8">
            最新のBitBayニュースを毎月配信しています。<div id="mailchimp-newsletter-69a98f26be-mergefields"
                class="mailchimp-newsletter-mergefields">
                <div
                    class="form-item js-form-item form-type-email js-form-type-email form-item-mergevars-email js-form-item-mergevars-email form-group">
                    <label for="edit-mergevars-email--2"
                        class="control-label js-form-required form-required">メールアドレス</label>


                    <input data-drupal-selector="edit-mergevars-email" class="form-email required form-control"
                        type="email" id="edit-mergevars-email--2" name="mergevars[EMAIL]" value="" size="25"
                        maxlength="254" required="required" aria-required="true" />



                </div>
            </div><input autocomplete="off" data-drupal-selector="form-l5hbqqsyu4anteeljbmzcjtmn6xczmuyuu2-cd7nfta"
                type="hidden" name="form_build_id" value="form-L5HbQqsYu4ANtEelJbMzCjTMn6xczMuYuU2-CD7nfTA" /><input
                data-drupal-selector="edit-mailchimp-signup-subscribe-block-newsletter-form-2" type="hidden"
                name="form_id" value="mailchimp_signup_subscribe_block_newsletter_form" />
            <div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper"
                id="edit-actions--3">
                <button data-drupal-selector="edit-submit" class="button js-form-submit form-submit btn-default"
                    type="submit" id="edit-submit--3" name="op" value="購読">購読</button></div>

        </form>

    </section>


</div>
