<div class="region region-footer">
    <section
        class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockquick-links clearfix"
        id="block-system-menu-block-quick-links">

        <h4 class="block-title">Quick links</h4>



        <ul class="menu menu--quick-links nav">
            <li class="first">
                <a href="/" 
                    class="is-active">Home</a>
            </li>
            <li>
                <a href="/features" >Features</a>
            </li>
            <li>
                <a href="/decentralized-marketplace" >BitBay
                    Marketplace</a>
            </li>
            <li>
                <a href="/the-team" >The Team</a>
            </li>
            <li>
                <a href="/roadmap" >Roadmap</a>
            </li>
            <li class="last">
                <a href="/downloads" >Downloads</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blocksupport clearfix"
        id="block-system-menu-block-support">

        <h4 class="block-title">Support</h4>



        <ul class="menu menu--support nav">
            <li class="first">
                <a
                    href="https://www.youtube.com/watch?v=CIU4s2G8jU8&amp;list=PL4MGGKJn4DizGw7oBXwzETMVLNCZ6G2_t">Tutorial
                    Videos</a>
            </li>
            <li>
                <a href="https://forum.bitbay.market">Community</a>
            </li>
            <li class="last">
                <a href="/blog" target="_self">Blog</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-3 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockuseful-links clearfix"
        id="block-system-menu-block-useful-links">

        <h4 class="block-title">Useful links</h4>



        <ul class="menu menu--useful-links nav">
            <li class="first">
                <a href="/privacy" >Privacy Policy</a>
            </li>
            <li>
                <a href="/terms-of-use" >Terms of Use</a>
            </li>
            <li>
                <a href="https://wallet.bitbay.market/" target="_blank">Web Wallet</a>
            </li>
            <li>
                <a href="/brand-resources">Branding</a>
            </li>
            <li>
                <a href="mailto:shorn@bitbay.market">Contact</a>            
            </li>
            <li>
                <a href="https://forum.bitbay.market/t/bitbay-in-the-news/49/2" target="_blank">News</a>
            </li>
            <li class="last">
                <a href="/sitemap" >Sitemap</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-5 w-col-medium-stack w-col-small-small-stack w-col-tiny-tiny-stack block block-mailchimp-signup block-mailchimp-signup-subscribe-blocknewsletter clearfix"
        id="block-mailchimp-signup-subscribe-block-newsletter">

        <h4 class="block-title">Newsletter</h4>


        <form class="mailchimp-signup-subscribe-form"
            data-drupal-selector="mailchimp-signup-subscribe-block-newsletter-form-2"
            action="dynamic-peg.html" method="post" id="mailchimp-signup-subscribe-block-newsletter-form--2"
            accept-charset="UTF-8">
            Sign up for our monthly newsletter to receive the latest BitBay news<div
                id="mailchimp-newsletter-69a98f26be-mergefields" class="mailchimp-newsletter-mergefields">
                <div
                    class="form-item js-form-item form-type-email js-form-type-email form-item-mergevars-email js-form-item-mergevars-email form-group">
                    <label for="edit-mergevars-email--2"
                        class="control-label js-form-required form-required">Email Address</label>


                    <input data-drupal-selector="edit-mergevars-email"
                        class="form-email required form-control" type="email" id="edit-mergevars-email--2"
                        name="mergevars[EMAIL]" value="" size="25" maxlength="254" required="required"
                        aria-required="true" />



                </div>
            </div><input autocomplete="off"
                data-drupal-selector="form-sbforxaijaoym-dukva0nfpv7vvd9-z257eldh7sici" type="hidden"
                name="form_build_id" value="form-SBFORxAIjaoyM-dUKvA0nFPv7VVd9-z257eLdH7SicI" /><input
                data-drupal-selector="edit-mailchimp-signup-subscribe-block-newsletter-form-2" type="hidden"
                name="form_id" value="mailchimp_signup_subscribe_block_newsletter_form" />
            <div data-drupal-selector="edit-actions"
                class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions--2"><button
                    data-drupal-selector="edit-submit" class="button js-form-submit form-submit btn-default"
                    type="submit" id="edit-submit--2" name="op" value="Subscribe">Subscribe</button></div>

        </form>

    </section>


</div>