<div class="region region-footer">
    <section
        class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockquick-links clearfix"
        id="block-system-menu-block-quick-links">

        <h4 class="block-title">ENLACES RÁPIDOS</h4>



        <ul class="menu menu--quick-links nav">
            <li class="first">
                <a href="/es" 
                    class="is-active">Casa</a>
            </li>
            <li>
                <a href="/es/features" >Caracteristicas</a>
            </li>
            <li>
                <a href="/es/decentralized-marketplace"
                    >BitBay Marketplace</a>
            </li>
            <li>
                <a href="/es/the-team" >El equipo</a>
            </li>
            <li>
                <a href="/es/roadmap" >Mapa vial</a>
            </li>
            <li class="last">
                <a href="/es/downloads" >Descargas</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-2 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blocksupport clearfix"
        id="block-system-menu-block-support">

        <h4 class="block-title">Apoyo</h4>



        <ul class="menu menu--support nav">
            <li class="first">
                <a
                    href="https://www.youtube.com/watch?v=CIU4s2G8jU8&amp;list=PL4MGGKJn4DizGw7oBXwzETMVLNCZ6G2_t">Videos
                    Tutoriales</a>
            </li>
            <li>
                <a href="https://forum.bitbay.market">Comunidad</a>
            </li>
            <li class="last">
                <a href="/blog" target="_self">Blog</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-3 w-col-medium-4 w-col-small-small-stack w-col-tiny-tiny-stack block block-system block-system-menu-blockuseful-links clearfix"
        id="block-system-menu-block-useful-links">

        <h4 class="block-title">ENLACES ÚTILES</h4>



        <ul class="menu menu--useful-links nav">
            <li class="first">
                <a href="/privacy" >Política de
                    privacidad</a>
            </li>
            <li>
                <a href="/terms-of-use" >Términos de Uso</a>
            </li>
            <li>
                <a href="https://wallet.bitbay.market/" target="_blank">Cartera web</a>
            </li>
            <li>
                <a href="/brand-resources">Branding</a>
            </li>
            <li>
                <a
                    href="/cdn-cgi/l/email-protection.html#93e0fbfce1fdd3f1fae7f1f2eabdfef2e1f8f6e7">Contact</a>
            </li>
            <li>
                <a href="/es/sitemap" >Mapa del sitio</a>
            </li>
            <li class="last">
                <a href="https://forum.bitbay.market/t/bitbay-in-the-news/49/2"
                    target="_blank">Noticias</a>
            </li>
        </ul>


    </section>

    <section
        class="footer-column w-col w-col-5 w-col-medium-stack w-col-small-small-stack w-col-tiny-tiny-stack block block-mailchimp-signup block-mailchimp-signup-subscribe-blocknewsletter clearfix"
        id="block-mailchimp-signup-subscribe-block-newsletter">

        <h4 class="block-title">Hoja informativa</h4>


        <form class="mailchimp-signup-subscribe-form"
            data-drupal-selector="mailchimp-signup-subscribe-block-newsletter-form-2"
            action="https://market.us16.list-manage.com/subscribe/post?u=fefeb88f02b0654a4d2fcaa58&amp;id=dbc40a72fc" method="post"
            id="mailchimp-signup-subscribe-block-newsletter-form--2" accept-charset="UTF-8">
            Suscríbase a nuestro boletín mensual para recibir las últimas noticias de BitBay<div
                id="mailchimp-newsletter-69a98f26be-mergefields"
                class="mailchimp-newsletter-mergefields">
                <div
                    class="form-item js-form-item form-type-email js-form-type-email form-item-mergevars-email js-form-item-mergevars-email form-group">
                    <label for="edit-mergevars-email--2"
                        class="control-label js-form-required form-required">Dirección
                        E-mail</label>


                    <input data-drupal-selector="edit-mergevars-email"
                        class="form-email required form-control" type="email"
                        id="edit-mergevars-email--2" name="mergevars[EMAIL]" value="" size="25"
                        maxlength="254" required="required" aria-required="true" />



                </div>
            </div><input autocomplete="off"
                data-drupal-selector="form-cylankcpj7kn4ufcqw50cj7bikulv-wtkqssr3nbgzg"
                type="hidden" name="form_build_id"
                value="form-cyLAnKcPj7kN4UFCqw50CJ7BiKulV_wTKQssr3NBgzg" /><input
                data-drupal-selector="edit-mailchimp-signup-subscribe-block-newsletter-form-2"
                type="hidden" name="form_id"
                value="mailchimp_signup_subscribe_block_newsletter_form" />
            <div data-drupal-selector="edit-actions"
                class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions--2">
                <button data-drupal-selector="edit-submit"
                    class="button js-form-submit form-submit btn-default" type="submit"
                    id="edit-submit--2" name="op" value="Suscríbete">Suscríbete</button></div>

        </form>

    </section>


</div>

