<body class="p-node {{ .Params.bodyclasses }} page-node-type-landing has-glyphicons lang-en">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHVRNS5" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <a href="#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
  </a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>

    <header class="navbar navigation w-nav navbar-default container-fluid" id="navbar" role="banner"
      data-collapse="medium" data-animation="default" data-duration="400">

      {{ partialCached "menu_topbar.html" . }}

      <div class="navbar-header">
        <div class="region region-navigation">
          <a class="logo navbar-btn pull-left" href="/{{ .Lang }}" title="Home" rel="home">
            <img src="/themes/bitbay/logo.svg" alt="Home" />
          </a>
          <section
            class="language-switcher-language-url all-dropdown-style block block-bootstrap-languages block-bootstrap-languageslanguage-interface clearfix"
            id="block-bootstraplanguageswitcherinterfacetext">




            <div class="links btn-group">
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                aria-expanded="false">
                <span class="flag-icon flag-icon-{{.Site.Params.FlagCode}}" lang="{{ .Lang }}"></span>
                <span class="caret"></span>
              </button>
              {{ if .IsTranslated }}
                <ul class="dropdown-menu" role="menu">
                  {{ range $index, $element := .Translations }}
                    <li>
                      <a href="{{ .Permalink }}">
                        <span class="lang-lbl flag-icon flag-icon-{{.Site.Params.FlagCode}}" lang="{{ .Lang }}"></span>
                      </a>
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
          </section>

          <nav role="navigation" aria-labelledby="block-system-menu-block-main-menu-menu" class="nav-menu w-nav-menu"
            id="block-system-menu-block-main-menu">

            <h2 class="visually-hidden" id="block-system-menu-block-main-menu-menu">Main menu</h2>



            <ul class="menu menu--main-menu nav">
              {{- $currentPage := . -}}
              {{ range .Site.Menus.main -}}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              </li>
              {{- end }}  
              <li class="expanded dropdown">
                <a href="#" class="dropdown-toggle is-active" data-toggle="dropdown"
                  >Support</span></a>
                <ul class="dropdown-menu">
                  <li class="first">
                    <a href="https://forum.bitbay.market/c/support">Forum</a>
                  </li>
                  <li class="last">
                    <a href="https://www.youtube.com/playlist?list=PL4MGGKJn4DizGw7oBXwzETMVLNCZ6G2_t">Tutorial
                      Videos</a>
                  </li>
                </ul>

              </li>
              <li>
                <a href="/blog" target="_self">Blog</a>
              </li>
              {{ range .Site.Menus.navmobile -}}
              <li>
                <a class="nav-mobile" href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{- end }}               
            </ul>


          </nav>

        </div>

        <div class="nav-button-open w-nav-button">
          <div class="nav-open-icon w-icon-nav-menu"></div>
        </div>
      </div>

    </header>