{{ $pageTitle := .Title | default .Site.Title }}
<!DOCTYPE html>
<html  lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " data-wf-page="5a0ac3f25f389a00016a31bf" data-wf-site="5a0325884316570001f1f7e3">
  <head>
    <meta charset="utf-8" />
<meta name="title" content="{{ $pageTitle }}" />
<meta name="twitter:card" content="summary" />
<meta property="og:site_name" content="BitBay" />
<meta name="twitter:description" content="{{.Description}}" />
<meta name="twitter:title" content="{{ $pageTitle }}" />
<meta property="og:type" content="website" />
<meta name="description" content="{{.Description}}" />
<meta property="og:url" content="https://bitbay.market/dynamic-peg" />
<meta property="og:title" content="{{ $pageTitle }}" />
<meta property="og:description" content="{{.Description}}" />
<link rel="apple-touch-icon" sizes="180x180" href="/themes/bitbay/favicon_256.png" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/themes/bitbay/favicon-32x32.png" type="image/png" />
    <title>{{ $pageTitle }}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {{ partialCached "_styles.html" . }}
    {{ partialCached "_scripts_head.html" . }}
    
  </head>
