<body class="p-node {{ .Params.bodyclasses }} page-node-type-landing has-glyphicons lang-en">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHVRNS5" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <a href="/dynamic-peg.html#main-content" class="visually-hidden focusable skip-link">
    Skip to main content
  </a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>

    <header class="navbar navigation w-nav navbar-default container-fluid" id="navbar" role="banner"
      data-collapse="medium" data-animation="default" data-duration="400">
      <div class="menutopbar">
        <div class="region region-menutopbar">
          <nav role="navigation" aria-labelledby="block-system-menu-block-top-menu-menu"
            id="block-system-menu-block-top-menu">

            <h2 class="visually-hidden" id="block-system-menu-block-top-menu-menu">Top menu</h2>



            <ul class="menu menu--top-menu nav">
              <li class="first">
                <a href="/buy" >Buy $BAY</a>
              </li>
              <li>
                <a href="https://staking.bitbay.market">Staking Calculator</a>
              </li>
              <li>
                <a href="https://wallet.bitbay.market">Web Wallet</a>
              </li>
              <li class="last">
                <a href="https://forum.bitbay.market">Community</a>
              </li>
            </ul>


          </nav>

        </div>

      </div>
      <div class="navbar-header">
        <div class="region region-navigation">
          <a class="logo navbar-btn pull-left" href="/" title="Home" rel="home">
            <img src="/themes/bitbay/logo.svg" alt="Home" />
          </a>
          <section
            class="language-switcher-language-url all-dropdown-style block block-bootstrap-languages block-bootstrap-languageslanguage-interface clearfix"
            id="block-bootstraplanguageswitcherinterfacetext">



            <div class="links btn-group hidden">
              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                aria-expanded="false">
                <span class="flag-icon flag-icon-gb" lang="en"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/dynamic-peg">
                    <span class="lang-lbl flag-icon flag-icon-gb" lang="en"></span>
                  </a>
                </li>
                <li>
                  <a href="/es/dynamic-peg">
                    <span class="lang-lbl flag-icon flag-icon-es" lang="es"></span>
                  </a>
                </li>
                <li>
                  <a href="/fr/dynamic-peg">
                    <span class="lang-lbl flag-icon flag-icon-fr" lang="fr"></span>
                  </a>
                </li>
                <li>
                  <a href="/ru/dynamic-peg">
                    <span class="lang-lbl flag-icon flag-icon-ru" lang="ru"></span>
                  </a>
                </li>
                <li>
                  <a href="/ja/dynamic-peg">
                    <span class="lang-lbl flag-icon flag-icon-jp" lang="ja"></span>
                  </a>
                </li>
                <li>
                  <a href="/ko/dynamic-peg">
                    <span class="lang-lbl flag-icon flag-icon-kr" lang="ko"></span>
                  </a>
                </li>
                <li>
                  <a href="/ar/dynamic-peg">
                    <span class="lang-lbl flag-icon flag-icon-sa" lang="ar"></span>
                  </a>
                </li>
                <li>
                  <a href="/pl/funkcja-dynamic-peg">
                    <span class="lang-lbl flag-icon flag-icon-pl" lang="pl"></span>
                  </a>
                </li>
              </ul>
            </div>
          </section>

          <nav role="navigation" aria-labelledby="block-system-menu-block-main-menu-menu" class="nav-menu w-nav-menu"
            id="block-system-menu-block-main-menu">

            <h2 class="visually-hidden" id="block-system-menu-block-main-menu-menu">Main menu</h2>



            <ul class="menu menu--main-menu nav">
              <li class="first">
                <a href="/decentralized-marketplace" >Decentralized
                  Marketplace</a>
              </li>
              <li>
                <a href="/features" >Features</a>
              </li>
              <li>
                <a href="/the-team" >The Team</a>
              </li>
              <li>
                <a href="/roadmap" >Roadmap</a>
              </li>
              <li>
                <a href="/downloads" >Downloads</a>
              </li>
              <li class="expanded dropdown">
                <a href="/dynamic-peg" class="dropdown-toggle is-active" data-toggle="dropdown"
                  ></span></a>
                <ul class="dropdown-menu">
                  <li class="first">
                    <a href="https://forum.bitbay.market/c/support">Forum</a>
                  </li>
                  <li class="last">
                    <a href="https://www.youtube.com/playlist?list=PL4MGGKJn4DizGw7oBXwzETMVLNCZ6G2_t">Tutorial
                      Videos</a>
                  </li>
                </ul>

              </li>
              <li>
                <a href="/blog" target="_self">Blog</a>
              </li>
              <li>
                <a href="https://forum.bitbay.market" class="nav-mobile">Community</a>
              </li>
              <li>
                <a href="https://wallet.bitbay.market" class="nav-mobile">Web Wallet</a>
              </li>
              <li class="last">
                <a href="/buy" class="nav-mobile" target="_self" >Buy $BAY</a>
              </li>
            </ul>


          </nav>

        </div>

        <div class="nav-button-open w-nav-button">
          <div class="nav-open-icon w-icon-nav-menu"></div>
        </div>
      </div>

    </header>