<section class="press section">
    <div class="w-container">
        <div class="region region-press">
            <section class="views-element-container block block-views block-views-blockpublication-block-1 clearfix"
                id="block-views-block-publication-block-1">



                <div class="form-group">
                    <div
                        class="press-logos-wrap view view-publication view-id-publication view-display-id-block_1 js-view-dom-id-20576c005ac7354b03b03eb92cd130f2e79a17123d2c744a4571450820499f9c">



                        <div class="view-content">
                            
                            <div class="w-inline-block views-row">
                                <div class="views-field views-field-field-publication-logo">
                                    <div class="field-content press-logo"><a
                                            href="https://www.cardrates.com/news/bitbay-crypto-holders-help-stabilize-its-value/" target="_blank"> <img
                                                src="/sites/default/files/2019-08/cardrates-horizontal-for-light.png"
                                                width="400" height="49" alt="Cardrates" title="Cardrates"
                                                typeof="foaf:Image" class="img-responsive" />

                                        </a></div>
                                </div>
                            </div>
                            
                            <div class="w-inline-block views-row">
                                <div class="views-field views-field-field-publication-logo">
                                    <div class="field-content press-logo"><a
                                            href="http://www.digitaljournal.com/pr/3234741" target="_blank"> <img
                                                src="/sites/default/files/2018-03/digital-journal-logo-web.png"
                                                width="395" height="46" alt="Digital Journal" title="Digital Journal"
                                                typeof="foaf:Image" class="img-responsive" />

                                        </a></div>
                                </div>
                            </div>
                            
                            <div class="w-inline-block views-row">
                                <div class="views-field views-field-field-publication-logo">
                                    <div class="field-content press-logo"><a
                                            href="https://motherboard.vice.com/en_us/article/z4mk3a/this-decentralized-bitcoin-market-is-for-legal-stuff-only"
                                            target="_blank"> <img
                                                src="/sites/default/files/2018-03/motherboard-logo-black-web.png"
                                                width="400" height="40" alt="Motherboard" title="Motherboard"
                                                typeof="foaf:Image" class="img-responsive" />

                                        </a></div>
                                </div>
                            </div>
                            
                            <div class="w-inline-block views-row">
                                <div class="views-field views-field-field-publication-logo">
                                    <div class="field-content press-logo"><a
                                            href="https://themerkle.com/bitbay-user-sells-5-acres-of-land-using-smart-contracts-and-decentralized-marketplace/"
                                            target="_blank"> <img src="/sites/default/files/2018-03/merkle_logo-web.png"
                                                width="155" height="84" alt="The Merkle" title="The Merkle"
                                                typeof="foaf:Image" class="img-responsive" />

                                        </a></div>
                                </div>
                            </div>
                            
                            <div class="w-inline-block views-row">
                                <div class="views-field views-field-field-publication-logo">
                                    <div class="field-content press-logo"><a
                                            href="https://medium.com/@tradersnow/how-i-sold-5-acres-of-land-using-bitbays-trustless-smart-contracts-28f18b83125"
                                            target="_blank"> <img src="/sites/default/files/medium_logo-web.png"
                                                width="386" height="82" alt="Medium" title="Medium"
                                                typeof="foaf:Image" class="img-responsive" />

                                        </a></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </section>


        </div>

    </div>
</section>
