{{ define "main" }}

  <section role="main" class="main main-container container-fluid js-quickedit-main-content">
    <div class="row">

            
            
      <div>

                
                
                                    <a id="main-content"></a>
            <div class="region region-content">
      <div class="w-container w-cont-wrap page-block-title">
        <h2  class="align-center heading-purple">
        <span>BitBay Dynamic Peg</span>

    </h2>

  </div>
<article data-history-node-id="97" role="article" about="/dynamic-peg" class="landing full clearfix">

    
        

    <div class="content">
      
      <div class="field field--name-field-section field--type-entity-reference-revisions field--label-hidden field--items">
              <div class="field--item">

  <div class="paragraph paragraph--type--section paragraph--view-mode--default par-landing image-right top-section sec-peg image-ltr">
                  <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-6">
              <div class="par-sec-text">
                <h1>BitBay's <br/>Dynamic Peg</h1>
                <div class="par-sec-body">
            <div class="field field--name-field-body field--type-text-long field--label-hidden field--item"><p class="fn-upper">The world's first <strong>decentralised</strong> stablecoin designed for mass adoption</p>

<p>With its unique system of adaptive supply control, BitBay is creating a stable and reliable currency that is truly independent.<br><br>
The revolutionary 'Dynamic Peg' creates both a <strong>store of value</strong> <em>and</em> a <strong>medium of exchange</strong>. </p>

<p>
<!--<a class="button" href="https://bitbay.market/downloads/bitbay-dynamic-peg-intro.pdf" target="_blank">Read the Quick Guide</a>-->
<a href="https://www.youtube.com/embed/B2xsqWR2PMs" class="videoOpenModal button">Watch the Video <i class="far fa-play-circle"></i></a>
</p>
</div>
      </div>
              </div>
            </div>            
            <div class="w-col w-col-6">
              <div class="par-sec-image">
                
            <div class="field field--name-field-image field--type-image field--label-hidden field--item">  <img src="sites/default/files/2018-05/bitbay-dynamic-peg-hero@2x.png" width="1287" height="849" alt="" typeof="foaf:Image" class="img-responsive" />

</div>
      
              </div>
            </div>
          </div>
        </div>
            </div>
</div>
              <div class="field--item">

  <div class="paragraph paragraph--type--section paragraph--view-mode--default par-landing image-bottom  bg-wave-top fn-white">
                  <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-12">
              <div class="par-sec-text">
                <h1>The <span class="heading-underline">democratic</span> control of supply
</h1>
                <div class="par-sec-body">
            <div class="field field--name-field-body field--type-text-long field--label-hidden field--item"><p>Every price is determined where supply meets demand. As demand constantly changes, we must control the supply to counteract that movement. BitBay’s Dynamic Peg is purely decentralized, allowing every participant to vote on which direction the price may go. When the users collectively decide upon a price, the currency can then be trusted for use within BitBay’s double deposit escrow contracts. </p>

<p>This is the definition of a truly stable currency. </p></div>
      </div>
              </div>
            </div>
            <div class="w-col w-col-12">
              <div class="par-sec-image">
                
            <div class="field field--name-field-image field--type-image field--label-hidden field--item">  <img src="sites/default/files/2018-05/bitbay-supply-demand@2x.png" width="575" height="185" alt="BitBay supply demand" typeof="foaf:Image" class="img-responsive" />

</div>
      
              </div>
            </div>
          </div>
        </div>
            </div>
</div>
              <div class="field--item">

  <div class="paragraph paragraph--type--section paragraph--view-mode--default par-landing image-right non-mobile-left">
                  <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-6">
              <div class="par-sec-text">
                <h1>A brand new method of <br/><span class="heading-underline">decentralized currency</span><br/> <span class="heading-underline">management</span>
</h1>
                <div class="par-sec-body">
            <div class="field field--name-field-body field--type-text-long field--label-hidden field--item"><p>Every user has two balances of $BAY, <strong>liquid</strong> and <strong>reserve</strong>. During a price crash, stakers can collectively vote to “freeze” a portion of the entire liquid supply. This <strong>decreases the supply</strong> of everyone’s remaining liquid coins. The frozen coins can also be moved with a time delay which opens the door to a plethora of investment vehicles.</p>

<p>During a price pump, stakers can vote to “unfreeze” a portion of the entire frozen supply. This <strong>increases the supply</strong> of everyone’s remaining liquid coins. The end result is a coin supply that elegantly adapts to current demand, no matter how much that demand changes.</p>
</div>
      </div>
              </div>
            </div>            
            <div class="w-col w-col-6">
              <div class="par-sec-image">
                
            <div class="field field--name-field-image field--type-image field--label-hidden field--item">  <img src="sites/default/files/2018-05/bitbay-magnet@2x_0.png" width="486" height="289" alt="BitBay decentralized currency management" typeof="foaf:Image" class="img-responsive" />

</div>
      
              </div>
            </div>
          </div>
        </div>
            </div>
</div>
              <div class="field--item">

  <div class="paragraph paragraph--type--section paragraph--view-mode--default par-landing image-right non-mobile-left bg-yellow bg-slanted ">
                  <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-6">
              <div class="par-sec-text">
                <h1><span class="heading-underline">Don’t want to vote?</span><br />
We have you covered</h1>
                <div class="par-sec-body">
            <div class="field field--name-field-body field--type-text-long field--label-hidden field--item"><p>Using our tried and tested algorithm, each vote can also be algorithmically automated depending on user preference.</p>

<p><a href="https://bit.ly/2mKJUMp">Read the Whitepaper</a></p></div>
      </div>
              </div>
            </div>            
            <div class="w-col w-col-6">
              <div class="par-sec-image">
                
            <div class="field field--name-field-image field--type-image field--label-hidden field--item">  <img src="sites/default/files/2018-05/bitbay-voting@2x_0.png" width="468" height="392" alt="BitBay dynamic peg voting choices" typeof="foaf:Image" class="img-responsive" />

</div>
      
              </div>
            </div>
          </div>
        </div>
            </div>
</div>
              <div class="field--item">

  <div class="paragraph paragraph--type--section paragraph--view-mode--default par-landing image-right bg-grey bg-slanted bg-slanted-reverse par-pad-small par-img-width-80">
                  <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-6">
              <div class="par-sec-text">
                <h1>Out with the old,<br />
<span class="heading-underline">in with the new</span></h1>
                <div class="par-sec-body">
            <div class="field field--name-field-body field--type-text-long field--label-hidden field--item"><p>Historically, centralized and fixed fiat pegs tend to crumble under the pressure of volatility. By design, our dynamic peg requires no single entity to manage the supply of $BAY. BitBay’s democratic voting system allows for maximum resilience and elasticity during extreme volatility.</p>
</div>
      </div>
              </div>
            </div>            
            <div class="w-col w-col-6">
              <div class="par-sec-image">
                
            <div class="field field--name-field-image field--type-image field--label-hidden field--item">  <img src="sites/default/files/2018-05/bitbay-democratic@2x_0.png" width="451" height="354" alt="BitBay democratic dynamic peg" typeof="foaf:Image" class="img-responsive" />

</div>
      
              </div>
            </div>
          </div>
        </div>
            </div>
</div>
              <div class="field--item">

  <div class="paragraph paragraph--type--section paragraph--view-mode--default par-landing image-bottom ">
                  <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-12">
              <div class="par-sec-text">
                <h1>Paving the way for <span class="heading-underline">organic growth</span></h1>
                <div class="par-sec-body">
            <div class="field field--name-field-body field--type-text-long field--label-hidden field--item"><p>BitBay’s ecosystem requires a decentralized and stable cryptocurrency in order to thrive. This is now possible, as the dynamic peg eliminates manipulation from Bitcoin volatility, whales, governments, and even trigger bots. It makes room for adoption, and creates long-term, steady growth. 
When compared to an ever-growing list of stablecoins, BitBay’s Dynamic Peg is unlike any other.</p>
</div>
      </div>
              </div>
            </div>
            <div class="w-col w-col-12">
              <div class="par-sec-image">
                
            <div class="field field--name-field-image field--type-image field--label-hidden field--item">  <img src="sites/default/files/2018-05/bitbay-organic_growth@2x.png" width="745" height="188" alt="BitBay organic growth" typeof="foaf:Image" class="img-responsive" />

</div>
      
              </div>
            </div>
          </div>
        </div>
            </div>
</div>
              <div class="field--item">

  <div class="paragraph paragraph--type--section paragraph--view-mode--default par-landing par-pad-top-0 par-mar-top--60 align-center ">
                  <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-12">
              <div class="par-sec-text">
                <h1></h1>
                <div class="par-sec-body">
            <div class="field field--name-field-body field--type-text-long field--label-hidden field--item"><p><a class="button" href="downloads/bitbay-dynamic-peg-intro.pdf" target="_blank">Read the Quick Guide</a></p>

<p><a href="https://bit.ly/2mKJUMp" target="_blank">Read the Whitepaper</a></p></div>
      </div>
              </div>
            </div>
          </div>
        </div>
            </div>
</div>
          </div>
  
    </div>

</article>

  </div>

              </div>

    </div>
  </section>

      <section class="home-downloads section">
      <div class="downloads-main-client w-container">
          <div class="region region-downloads">
    <section class="views-element-container block block-views block-views-blockdownloads-block clearfix" id="block-views-block-downloads-block">
    
            <h2 class="block-title align-center heading-purple">Let's get started today</h2>
        

            <div class="form-group"><div class="view view-downloads view-id-downloads view-display-id-block js-view-dom-id-40a6558fae335488a4c3e0a224547f41f2aa3ff3e0be6acd56c415769ff0e033 w-container" id="downloads">
    
        
            
            <div class="view-content downloads-wrap">
                <p>With a built-in wallet, decentralized marketplaces and some of the most advanced security in crypto, we recommend the BitBay Client to send, store and stake your $Bay.</p>

<div class="downloads-icon-group-wrap">
        <div class="download-logo-wrap w-inline-block views-row">
        <div class="views-field views-field-field-version"><div class="field-content"><a href="https://github.com/bitbaymarket/bitbay-market-client/releases/download/v1.37b/bitbayclient-win.zip">  <img src="sites/default/files/styles/download_83xx/public/2018-03/icon-download-win.png%3Fitok=NKLL2sO8" width="83" height="83" alt="" typeof="Image" class="img-responsive" />



<div class="download-icon-text">
Client |&nbsp;
<span class="download-version-number">1.37b</span></div></a></div></div>
    </div>
        <div class="download-logo-wrap w-inline-block views-row">
        <div class="views-field views-field-field-version"><div class="field-content"><a href="https://github.com/bitbaymarket/bitbay-market-client/releases/download/v1.37/bitbayclient-mac-wineskin.zip">  <img src="sites/default/files/styles/download_83xx/public/2018-03/icon-download-mac.png%3Fitok=VB6vSSde" width="83" height="101" alt="" typeof="Image" class="img-responsive" />



<div class="download-icon-text">
Client |&nbsp;
<span class="download-version-number">1.37</span></div></a></div></div>
    </div>
        <div class="download-logo-wrap w-inline-block views-row">
        <div class="views-field views-field-field-version"><div class="field-content"><a href="https://github.com/bitbaymarket/bitbay-market-client/releases/download/v1.37b/bitbayclient-linux-32.tar.gz">  <img src="sites/default/files/styles/download_83xx/public/2018-03/icon-download-linux.png%3Fitok=dAuTVf5o" width="83" height="97" alt="" typeof="Image" class="img-responsive" />



<div class="download-icon-text">
Client |&nbsp;
<span class="download-version-number">1.37b</span></div></a></div></div>
    </div>
</div>

        </div>
    
                        <div class="view-footer">
            <a id="all-link-downloads" href="Download.html" class="text-link">View all downloads</a>
        </div>
        </div>
</div>

    </section>


  </div>

      </div>
    </section>
  
      <section class="exchanges section">
      <div class="w-container">
          <div class="region region-exchanges">
    <section class="views-element-container block block-views block-views-blockexchanges-block clearfix" id="block-views-block-exchanges-block">
    
            <h2 class="block-title align-center heading-yellow">Get some $BAY</h2>
        

            <div class="form-group"><div class="view view-exchanges view-id-exchanges view-display-id-block js-view-dom-id-73a609dd83d6539cbb60a1b36f7ee497565ead8398f4f5d45a6016cd26a8c192">
  
    
      <div class="view-header">
      <p class="align-center narrow-text">You can buy Bay at these exchanges</p>
    </div>
      
      <div class="view-content">
      <div class="flex-3-cols">
        <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
        <div><span class="exchange-logo"><a href="https://international.bittrex.com/Market/Index?MarketName=BTC-BAY" class="exchange-link dt80" target="_blank">  <img src="sites/default/files/2019-04/logo-bittrex.png" width="400" height="82" alt="" typeof="Image" class="img-responsive" />

</a></span></div>
    </div>
        <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
        <div><span class="exchange-logo"><a href="https://upbit.com/exchange?code=CRIX.UPBIT.BTC-BAY" class="exchange-link dt80" target="_blank">  <img src="sites/default/files/2019-04/logo-upbit.png" width="358" height="82" alt="" typeof="Image" class="img-responsive" />

</a></span></div>
    </div>
        <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
        <div><span class="exchange-logo"><a href="https://www.cryptopia.co.nz/Exchange/?market=BAY_BTC" class="exchange-link dt80" target="_blank">  <img src="sites/default/files/2019-04/logo-cryptopia.png" width="354" height="41" alt="" typeof="Image" class="img-responsive" />

</a></span></div>
    </div>
        <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
        <div><span class="exchange-logo"><a href="https://www.litebit.eu/en/buy/bitbay" class="exchange-link dt80" target="_blank">  <img src="sites/default/files/2019-04/logo-litebit.png" width="400" height="83" alt="" typeof="Image" class="img-responsive" />

</a></span></div>
    </div>
        <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
        <div><span class="exchange-logo"><a href="https://xchange.me/exchanger/exchange/BTC/BAY/" class="exchange-link dt80" target="_blank">  <img width="" height="" src="sites/default/files/2019-04/logo-xchange.svg" alt="" typeof="Image" class="img-responsive" />

</a></span></div>
    </div>
        <div class="views-row w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
        <div><span class="exchange-logo"><a href="https://www.bitladon.com/bitbay" class="exchange-link dt80" target="_blank">  <img src="sites/default/files/2018-11/bitladon-logo.png" width="1163" height="365" alt="" typeof="Image" class="img-responsive" />

</a></span></div>
    </div>
</div>
    </div>
  
          </div>
</div>

    </section>


  </div>

      </div>
    </section>
  
      <section class="press section">
      <div class="w-container">
          <div class="region region-press">
    <section class="views-element-container block block-views block-views-blockpublication-block-1 clearfix" id="block-views-block-publication-block-1">
  
    

      <div class="form-group"><div class="press-logos-wrap view view-publication view-id-publication view-display-id-block_1 js-view-dom-id-1824e1f34c4c2e0878eccdf20cc50c654bcf36091f392ede953f30dbf959e545">
  
    
      
      <div class="view-content">
          <div class="w-inline-block views-row"><div class="views-field views-field-field-publication-logo"><div class="field-content press-logo"><a href="http://www.digitaljournal.com/pr/3234741" target="_blank">  <img src="sites/default/files/2018-03/digital-journal-logo-web.png" width="395" height="46" alt="Digital Journal" title="Digital Journal" typeof="foaf:Image" class="img-responsive" />

</a></div></div></div>
    <div class="w-inline-block views-row"><div class="views-field views-field-field-publication-logo"><div class="field-content press-logo"><a href="https://bitbay.market/%D8%B0%D8%A7%20%D9%85%D9%8A%D8%B1%D9%83%D9%84" target="_blank">  <img src="sites/default/files/2018-03/merkle_logo-web.png" width="155" height="84" alt="ذا ميركل" title="ذا ميركل" typeof="foaf:Image" class="img-responsive" />

</a></div></div></div>
    <div class="w-inline-block views-row"><div class="views-field views-field-field-publication-logo"><div class="field-content press-logo"><a href="https://motherboard.vice.com/en_us/article/z4mk3a/this-decentralized-bitcoin-market-is-for-legal-stuff-only" target="_blank">  <img src="sites/default/files/2018-03/motherboard-logo-black-web.png" width="400" height="40" alt="Motherboard" title="Motherboard" typeof="foaf:Image" class="img-responsive" />

</a></div></div></div>
    <div class="w-inline-block views-row"><div class="views-field views-field-field-publication-logo"><div class="field-content press-logo"><a href="https://themerkle.com/bitbay-user-sells-5-acres-of-land-using-smart-contracts-and-decentralized-marketplace/" target="_blank">  <img src="sites/default/files/2018-03/merkle_logo-web.png" width="155" height="84" alt="The Merkle" title="The Merkle" typeof="foaf:Image" class="img-responsive" />

</a></div></div></div>
    <div class="w-inline-block views-row"><div class="views-field views-field-field-publication-logo"><div class="field-content press-logo"><a href="https://bitbay.market/%D8%A8%D9%8A%20%D8%A3%D8%B1%20%D9%86%D9%8A%D9%88%D8%B2%D9%88%D8%A7%D9%8A%D8%B1" target="_blank">  <img src="sites/default/files/2018-03/prn_cision_logo-web.png" width="106" height="41" alt="بي أر نيوزواير" title="بي أر نيوزواير" typeof="foaf:Image" class="img-responsive" />

</a></div></div></div>

    </div>
  
          </div>
</div>

  </section>


  </div>

      </div>
    </section>

{{ end }}